# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Bb]uild/
/[Uu]ser[Ss]ettings/
/[Ll]ocalPackageCache/
Assets/External/
*.csproj.bak
*.sln.bak
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db

# Keep Packages manifest but ignore actual package contents
/Packages/*
!/Packages/manifest.json
!/Packages/packages-lock.json
