# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Bb]uild/
/[Uu]ser[Ss]ettings/
/[Ll]ocalPackageCache/
/[Pp]ackages/
Assets/External/
*.csproj.bak
*.sln.bak
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db
